.App {
  text-align: center;
  min-height: 100vh;
  background-color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.glow-title {
  color : #18CD21;
  font-size: 4.2rem;
  font-family: 'Kode Mono', monospace;
  text-align: center;
  text-shadow:
    0 0 5px #F24EB6, 
    0 0 10px #F24EB6, 
    0 0 20px #F24EB6, 
    0 0 40px #F24EB6;
}

.enter-button {
  color: #CD18AF;
  background-color : transparent;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-family: 'Press Start 2P', cursive;
  cursor: grab;
  letter-spacing: 2px;
  border-radius: 6px;
  text-shadow: 0 0 10px #CD18AF;
  box-shadow: 0 0 20px #CD18AF;
  transform: scale(1.05);
}

.enter-button:hover {
  box-shadow: 10px 5px 5px yellow;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.fridge-container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fridge-box{
  width: 60vw;
  min-height: 60vh;
  height: auto;
  background-color: #111;
  border: 8px solid #333;
  box-shadow:
    inset 0 0 30px rgba(255, 255, 255, 0.1),
    0 0 60px rgba(255, 0, 255, 0.3);
  border-radius: 20px;
  padding: 4rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transform: scale(0.95);
  filter: blur(10px) brightness(0.5);
}
.fridge-box.animate{
  animation: fadeIn 3s ease-out forwards;
}
@keyframes fadeIn{
  from{
    opacity: 0;
    transform: scale(0.95);
    filter: blur(10px) brightness(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0) brightness(1);
  }
}
.contact-section {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 999;
  opacity: 0.8;
  bottom : 2rem;
  text-align: right;
  color: #fff;
  font-size: 1.2rem;
  transition: opacity 0.3s;
}

.contact-section a {
  color: #ffd700;
  text-decoration: none;
}

.contact-section a: hover {
  opacity: 1;
  text-decoration: underline;
}


